.Shape {
    background-color: #9370DB;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

.Event {
    background-color: #9370DB;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

.Save {
    background-color: #9370DB;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

.Load {
    background-color: #9370DB;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

select {
    background-color: #9370DB;
    color: white;
    height: 29px;
    overflow: hidden;
    width: 240px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}